[submodule ".config/awesome/themes"]
	path = .config/awesome/themes
	url = https://github.com/mikar/awesome-themes
[submodule ".config/awesome/tyrannical"]
	path = .config/awesome/tyrannical
	url = https://github.com/Elv13/tyrannical
